.alert-c {
    margin-top: 10px;
    .container {
        .alert {
            background-color: rgb(7 193 239 / 20%);
            padding: 20px 30px;
            border-radius: 8px;
        }
    }
}