.container-hero {
    padding: 30px 0px;
}
.container-submenu {
    display: grid;
    grid-template-columns: 280px auto;
    grid-gap: 30px;
    align-items: start;
    .submenu {
        padding: 25px 20px;
        border-radius: 6px;
        background-color: rgba(255,255,255,.2);
        .content {
            ul {
                margin-bottom: 30px;
                list-style: none;
                li {
                    padding: 10px 0px;
                    border-bottom: solid 1px rgba(255,255,255,.2);
                    a {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        text-decoration: none;
                        transition: margin .2s ease-out;
                        &:hover {
                            margin-left: 5px;
                        }
                        img {
                            width: 20px;
                            transition: width .2s;
                        }
                    }
                }
            }
        }
    }
    .submenu-content {
        h3 {
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}