{% extends "base.html" %}

{% block content %}
<div id="single-function">
    <section class="c-function-info">
        <div class="container">
            <ul>
                <li>
                    <h1>{{ function.movie.title }}</h1>
                </li>
                <li>
                    <h2>{{ function.auditorium.name }}</h2>
                </li>
                <li>
                    <h3>Total seats: {{ function.auditorium.total_seats }}</h3>
                </li>
            </ul>
        </div>
    </section>

    <section class="c-seats">
        <div class="container">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>
                    {% for seat in form.seats: %}
                        <label>
                            <input type="checkbox" name="{{ seat.name }}" value="{{ seat.data }}"
                                {% if seat.data in disabled_seats %}disabled{% endif %}>
                            {{ seat.label.text }}
                        </label>
                    {% endfor %}
                </div>

                <div>
                    {{ form.submit }}
                    {% for error in form.submit.errors %}
                        <span style="color:red;display:block">{{ error }}</span>
                    {% endfor %}
                </div> 
            </form>
        </div> 
    </section>

    <section>
        <div class="container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>Seats</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reservations: %}
                        {% for res in reservations: %}
                            <tr>
                                <td>{{ res.id }}</td>
                                <td>{{ res.user.name }}</td>
                                <td>
                                    {% for rs in res.reservation_seats %}
                                            {{ rs.seats.seat_number }}
                                            {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ res.create_at }}</td>
                                <td>{{ res.status }}</td>
                                <td class="actions">
                                    <a href="{{ url_for('cinema.delete_reservation', reservation_id=res.id, function_id=function_id) }}">
                                        {% include "icons_templates/trash_icon.html" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else: %}
                    <tr>
                        <td>No reservations.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>


</div>
{% endblock content %}