{% extends "base.html" %}

{% block content %}
    {% include "nav_auth.html" %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(size=40) }}
            {% for error in form.name.errors %}
                <span style="color:red;display:block">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.description.label }}
            {{ form.description(size=40) }}
            {% for error in form.description.errors %}
                <span style="color:red;display:block">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.submit }}
            {% for error in form.submit.errors %}
                <span style="color:red;display:block">{{ error }}</span>
            {% endfor %}
        </div>
    </form>
{% endblock content %}