{% extends "base.html" %}

{% block content %}
    {% include "nav_auth.html" %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <!-- <th>Pass</th> -->
                <th>Rol</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <!-- <td>{{ user.password_hash }}</td> -->
                <td>{{ user.roles.name }} ({{ user.role_id }})</td>
                <td>
                    <a href="{{ url_for('auth.update_user', user_id=user.id) }}">edit</a>
                    <a href="{{ url_for('auth.delete_user', user_id=user.id) }}">delete</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td span="3">No users registered.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}