<section class="submenu">    
    <div class="content">
        <ul>
            <li>
                <h3>Users</h3>
            </li>
            <li>
                <a href="{{ url_for('auth.view_users') }}">View Users</a>
            </li>
            <li>
                <a href="{{ url_for('auth.register_user') }}">Register New Users</a>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Roles</h3>
            </li>
            <li>
                <a href="{{ url_for('auth.view_roles') }}">View Roles</a>
            </li>
            <li>
                <a href="{{ url_for('auth.register_role') }}">Create New Role</a>
            </li>
        </ul>
    </div>
</section>