<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">

    <title>Cinema</title>
</head>
<body>
    <div class="main">
        {% include 'nav.html' %}
        
        <div class="wrap-content">
            {% include 'messages.html' %}
            {% block content %}
            {% endblock content %}
        </div>
    
        {% include 'footer.html' %}
    </div>
</body>
</html>