<div class="wrap-navbar">
    <nav id="admin-menu">
        <div class="container">
            <div class="cinema-logo-c">
                <a href="{{ url_for('cinema.index') }}"><img src="{{ url_for('static', filename='img/icons/logo.svg') }}" alt="Cinema Logo">CINEMA</a>
            </div>
            <div class="menu-c">
                <ul class="buttons-menu">
                    <li><a href="{{ url_for('cinema.view_functions') }}">Cinema</a></li>
                    <li><a href="{{ url_for('auth.view_users') }}">Admin</a></li>
                </ul>
            </div>
            <div class="log-c">
                <ul class="buttons-menu">
                    {% if current_user.is_authenticated: %}
                        <li><a href="{{ url_for( 'auth.logout' ) }}">Logout</a></li>
                    {% else: %}
                        <li><a href="{{ url_for( 'auth.login' ) }}">Login</a></li>
                        <li><a href="{{ url_for( 'auth.register' ) }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <nav id="general-menu">
        <div class="container">
            <ul>
                <li>
                    <a href="{{ url_for('cinema.index') }}">
                        <img src="{{ url_for('static', filename='img/icons/home.png') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/icons/clapper.png') }}">
                        Movies
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/icons/ticket.png') }}">
                        Functions
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/icons/ticket.png') }}">
                        Other
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>